body {
	background: url(images/Geylang-Road-By-Night-2008.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

input {
	color: #000;
}

input, select, textarea {
    color: #000 !important;
}
textarea:focus, input:focus {
    color: #000;
}

a {
	color: #0f0 !important;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	transition:all 150ms ease-in;
	-o-transition:all 150ms ease-in;
	-moz-transition:all 150ms ease-in;
	-webkit-transition:all 150ms ease-in;
	text-decoration:none !important;
}

a:hover {
	color: #BC139B !important;
	background-color: rgba(255,255,255,0.2);
	transition:all 150ms ease-in;
	-o-transition:all 150ms ease-in;
	-moz-transition:all 150ms ease-in;
	-webkit-transition:all 150ms ease-in;
}

.table-hover tr:hover {
	color: #000;
}

.table-hover th {
	color: #fff;
	text-align: center;
}

.cmrnum {
	text-align: center;
}
.required {
	color: #f00 !important;
	font-weight: bold;
}
.messagecross {
	color: #f00 !important;
	font-weight: bold;
}
.table-cmr {
	text-align: center;
}

#comment, #actions {
	background-color: rgba(255,255,255,0.6);
	color: #000;
}
/*

head

*/

.logo {
	width: 200px;
}
.logodiv {
	text-align: center;
}
.socials img {
	height: 32px;
}
.head {
	background-color: #fff;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	padding: 15px 0px 15px 0px;
}

/*

board

*/

.record {
	margin-right: 4px;
	margin-bottom: 4px;
	border: solid #20942a 3px;
	float: left;
	display: inline-block;
	width: 55px;
	height: 55px;
}
#lvl1 {
	background: #ef5;
}
#lvl2 {
	background: #af3;
}
#lvl3 {
	background: #0f0;
}
#lvl4 {
	background: #0c0;
}
#lvl5 {
	background: #090;
}

/*

menu

*/

#left-nav {
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	border-right: 1px white solid;
	color: #FFF;
}
#left-nav ul {
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#left-nav ul li {
	list-style:none;
}
#left-nav ul li i {
	display: block;
	padding: 10px 0px 10px 5px;	
}
#left-nav ul li a {
	color: #0f0;
	display: block;
	padding: 5px 0px 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	transition:all 150ms ease-in;
	-o-transition:all 150ms ease-in;
	-moz-transition:all 150ms ease-in;
	-webkit-transition:all 150ms ease-in;
	text-decoration:none;
}
#left-nav ul li a:hover {
	color: #BC139B;
	background-color: rgba(255,255,255,0.2);
	transition:all 150ms ease-in;
	-o-transition:all 150ms ease-in;
	-moz-transition:all 150ms ease-in;
	-webkit-transition:all 150ms ease-in;
}

/*

content

*/

#main {
	background-color: rgba(0, 0, 0, 0.8);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	color: #fff;
	line-height: 1.5em;
}
#main .instruction a {
	color: #1ba84a;
}
#content #main #regbox {
	padding: 20px 0px 20px 0px;
}

/*

auxiliary

*/

table.admin td {
	vertical-align: top;
	padding: 5px 15px 5px 5px;
	border: 1px solid gray;
}
table.admin th {
	vertical-align: top;
	padding: 5px 15px 5px 5px;
}
#error {
	display:block;
	margin:5px;
	color:#4d4948;
	background-color:#fffebe;
	border: 1px solid #cbcbcb;
}
#success {
	margin:5px;
	color:#4d4948;
	background-color:#bce9b5;
	border: 1px solid #7ace6c;
}
.pcsg {
	color: #1ba84a;
}
.pcsy {
	color: #f7ce0e;
}
.jumbotron {
	background-color: rgba(255, 255, 255, 0) !important;
	line-height: 1.5em;
}
.scrollToTop{
	width:100px; 
	height:100px;
	padding:10px; 
	position:fixed;
	bottom:20px;
	right:20px;
	display:none;
	background: url('../up.png') no-repeat -15px -15px;
}
.scrollToTop:hover{
	text-decoration:none;
}